VITE_FIREBASE_API_KEY=TADY_VLOZ_API_KLIC
VITE_FIREBASE_AUTH_DOMAIN=TADY_VLOZ_DOMENU
VITE_FIREBASE_PROJECT_ID=TADY_VLOZ_PROJECT_ID
VITE_FIREBASE_STORAGE_BUCKET=TADY_VLOZ_STORAGE_BUCKET
VITE_FIREBASE_MESSAGING_SENDER_ID=TADY_VLOZ_SENDER_ID
VITE_FIREBASE_APP_ID=TADY_VLOZ_APP_ID

VITE_IMGBB_API_KEY=TADY_ZADEJ_SVOJ_IMGBB_KLIC
